body {
    min-height: 2000px;
    padding-top: 70px;
}

.widget{
    padding: 10px 12px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-align: center;
    margin-right: 18px;
    margin-left: 18px;
}